

<div  style="display: flex;flex-direction:row;align-items : center;">
  <div id="{{'label' + data.levename}}" style="padding:20px 30px;border: 1px red solid;border-radius: 8px;width:250px;min-width: 300px;height: 75px;margin-top: 10px;margin-right: 40px">

    <span>{{data.levename}}</span>

    <div style="float:right">
      <button nz-button nzSize="Large" nzType="primary" (click)="loadComponent()" ><i nz-icon type="plus-square" theme="outline"></i></button>
      <button #clearbtn nz-button nzSize="Large" nzType="danger" (click)="clearComponent()" ><i nz-icon type="minus-square" theme="outline"></i></button>
    </div>

  </div>
  <div class="chlidrenlabels" #chlidrenlabels style="display: flex;flex-direction:column; " >
    <ng-template app-label></ng-template>
  </div>
</div>

